<div class="wrapper" id="reset_password">
    <div class="page-header lite-bg" >

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-9 col-sm-9 mr-auto ml-auto">
                        <div class="card card-register z-depth-5">
                          <div class="card-content card-main-content">
                            <div class="title-div">
                              <h1 href="#" class="brand-logo  black-text text-capitalize mb-3 line_height">
                                <a routerLink="/home" class="black-text">
                                  <i  class="material-icons dp48 medium title-icon line_height">{{icons}}</i>
                                  {{'TITLE'| translate}}
                                </a>

                              </h1>
                            </div>


                            <div class="card-tabs">
                                  <ul class="tabs tabs-fixed-width">
                                    <li [ngClass]="active"
                                    class="tab"><a [ngClass]="active"  >{{"login.resetPassword_heading"|translate}}</a>
                                     </li>

                                  </ul>
                            </div>

                            <div class="card-content grey lighten-4 ">
                             <div id="login"  >
                               <form class="register-form">
                                 <div class="input-field ">
                                    <i class="material-icons dp48 prefix text-primary">vpn_key</i>
                                   <input [(ngModel)]="login_password"
                                    name= "password"  id="login_password" type="password" class="text-primary validate" >
                                   <label for="login_password">{{"login.password"|translate}}</label>
                                </div>
                                <div class="input-field ">
                                   <i class="material-icons dp48 prefix text-dark">vpn_key</i>
                                  <input [(ngModel)]="confirm_password"
                                   name= "password"  id="confirm_password" type="password" class="text-dark validate" >
                                  <label for="confirm_password">{{"login.password"|translate}}</label>
                               </div>


                               <img *ngIf="resetLoading"
                               class="btn btn-outline-default
                                waves-effect waves-lightsubmit
                                submit  w-25 mt-10"
                               src="assets/img/loading-small.svg" s alt="loading">


                                 <button *ngIf="!resetLoading" (click)="resetPassword()"  class="
                                 btn btn-default waves-effect
                                 waves-lightsubmit">{{"login.resetPassword"|translate}}

                               </button>
                               </form>
                                 <p class="error error ml-5 mt-3 font-weight-bold">{{errorMessage}}</p>
                                 <p *ngIf="resetError"
                                 class="error error ml-5 mt-3 font-weight-bold">{{"login.resetError"|translate}}</p>
                             </div>
                           </div>

                          </div>
                        </div>
                    </div>
                </div>
                <!--<div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Kadal team</h6>
                </div> !-->
            </div>
    </div>
</div>
