<app-navbar></app-navbar>
<div class="wrapper">
    <div class="main">
      <div class="container">
        <div class="row homeBlock">
          <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 main-article" >
            <app-topicslist></app-topicslist>
          </div>

          <!-- <div
          class="col-xl-4 col-lg-4 col-md-12 col-sm-12 trend-article">
          <div class="extremeHero-divider hide-on-med-and-up"></div>
        <app-local></app-local>
          </div> -->
        </div>
        <!-- <div class="extremeHero-divider"></div> -->
        


        <!-- <app-from-network></app-from-network> -->
        <!-- <app-topics></app-topics>
          <app-local></app-local> -->
        <!-- <app-editors-pick></app-editors-pick> -->
        <!--<app-contribute></app-contribute> !-->

        <!--<app-answer-it></app-answer-it> !-->
        <!-- <app-local></app-local> -->
        <!--<app-topics></app-topics> !-->
      </div>
<app-footer></app-footer>
      <!--<app-sidenav class=""></app-sidenav> !-->
      <!--<app-components></app-components> !-->
    </div>
</div>
