<div class="row card horizontal-row mb-2">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="horizontal-blog ">
      <div class="row trending-article">

        <div class="card-content col-xl-9 col-lg-9 col-md-9 col-sm-9">
          <h6 class="card-title"><a
            [routerLink]="['/insight',insightDetails.url]">{{insightDetails.title}}</a></h6>
          <div class="card-cateogry">{{insightDetails.topic.title}}</div>
          <a class="sample" [routerLink]="['/insight',insightDetails.url]">
             <p >{{insightDetails.sample}}</p>
           </a>
          <p class="info mt-3"><a class="author">{{insightDetails.author.userName}}</a> in
            <a class="info pub mr-2">{{insightDetails.publication.name}}</a>
            <a class="info topic ml-2">{{insightDetails.topic.title}}</a>
          </p>
          <p class="date"> {{insightDetails.updatedDate | date: 'MMM-dd yyyy'}}  <i class="star-icon material-icons prefix black-text line_height">star</i></p>

        </div>
        <div
        class="card-image col-xl-3 col-lg-3 col-md-3 col-sm-3 ">
          <!-- <img  [alt]="insightDetails.title" class="d-block card-bg"
          [src]="insightDetails.titleImage"/> -->
          <a *ngIf="insightDetails.titleImage" class="d-block card-bg" [style.background-image]="'url('+insightDetails.titleImage+')'"
          >
          </a>
          <a *ngIf="!insightDetails.titleImage || insightDetails.titleImage == '' "
           class="d-block card-bg" [style.background-image]="'url(https://source.unsplash.com/1600x900/daily/?nature,lake,city,building,store)'"
          >
          </a>


        </div>
      </div>
      <div class="trend-action">
        <i class="action-icons material-icons prefix black-text line_height">bookmark_border</i>
      </div>
  </div>

</div>
</div>
  <div class="extremeHero-divider"></div>
