<app-navbar></app-navbar>

<!-- <drag-scroll #nav 
  [scrollbar-hidden]="true" style="width: 100%; height: auto">
  <app-thudup-vcard drag-scroll-item class="col-xl-4 col-lg-4 col-md-4 col-sm-4   p-0 m-0"></app-thudup-vcard>
  <app-thudup-vcard drag-scroll-item class="col-xl-4 col-lg-4 col-md-4 col-sm-4  p-0 m-0"></app-thudup-vcard>
  <app-thudup-vcard drag-scroll-item class="col-xl-4 col-lg-4 col-md-4 col-sm-4  p-0 m-0"></app-thudup-vcard>
  <app-thudup-vcard drag-scroll-item class="col-xl-4 col-lg-4 col-md-4 col-sm-4  p-0 m-0"></app-thudup-vcard>
  <app-thudup-vcard drag-scroll-item class="col-xl-4 col-lg-4 col-md-4 col-sm-4  p-0 m-0"></app-thudup-vcard>
  <app-thudup-vcard drag-scroll-item class="col-xl-4 col-lg-4 col-md-4 col-sm-4  p-0 m-0"></app-thudup-vcard>
</drag-scroll> -->
<app-trending></app-trending>



<!-- <button (click)="moveLeft()">Left</button>
  <button (click)="moveRight()">Right</button> -->
<div class="wrapper">
    <div class="main">
      <div class="container">
        <div class="row homeBlock">
          <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 main-article" >
            <app-topics></app-topics>
          </div>

          <!-- <div
          class="col-xl-4 col-lg-4 col-md-12 col-sm-12 trend-article">
          <div class="extremeHero-divider hide-on-med-and-up"></div>
        <app-local></app-local>
          </div> -->
        </div>
        <!-- <div class="extremeHero-divider"></div> -->
        


        <!-- <app-from-network></app-from-network> -->
        <!-- <app-topics></app-topics>
          <app-local></app-local> -->
        <!-- <app-editors-pick></app-editors-pick> -->
        <!--<app-contribute></app-contribute> !-->

        <!--<app-answer-it></app-answer-it> !-->
        <!-- <app-local></app-local> -->
        <!--<app-topics></app-topics> !-->
      </div>
<app-footer></app-footer>
      <!--<app-sidenav class=""></app-sidenav> !-->
      <!--<app-components></app-components> !-->
    </div>
</div>
