#sidenav-main {
  top:64px;
}

.side-nav-name{
  text-align: center;
    font-size: 2em;
    text-transform: capitalize;
}

.side-nav-image{
  margin: 0% 25%;
  width: 40%;
  border-radius: 10px;
  border:1px solid #ccc;
}


